* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

section {
    margin-bottom: 80px;
}

.btn-primary {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background: #FF5959;
    border: 0;
    padding: 15px 25px;
    border-radius: 10px;
}

.section-title {
    color: #121212;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.section-description {
    font-size: 18px;
    text-align: center;
    color: #707070;
    margin-bottom: 30px;
}




/* Banner Section Styles */
.banner {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/images/donation0.jpg'), linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-description {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Donation Section Styles */

.donate {
    padding: 0px 300px;
}
.money-container {
    margin-bottom: 30px;
}
.money-management li {
    list-style: none;
    font-size: 30px;
    font-weight: 700;
    color: #707070;
    background: #FAFAFA;
    border-radius: 5px;
    padding: 35px 25px;
}
.money-management li:nth-child(2) {
    color: #FF5959;
    border: 3px solid #FF5959;
    background: #FFEEEE;
}
.money-management {
    display: flex;
    justify-content: space-around;
}
.other-taka {
    color: #757575;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.donate-button {
    margin-top: 30px;
    text-align: center;
}

/* Donation Plan Section Styles */
.donate-plan-text {
    padding: 0 300px;
    margin-bottom: 30px;
}
.donate-plan-box-container {
    display: flex;
    padding: 0 100px;
    justify-content: space-around;
}
.donate-plan-title {
    margin: 20px 0;
    font-size: 25px;
    font-weight: 700;
}
.donate-plan-description {
    font-size: 16px;
    color: #707070;
}
.donate-plan-box {
    padding: 60px 20px;
    margin-right: 15px;
    border-radius: 10px;
}
.food {
    background: rgba(79, 157, 166, 0.1);
}
.shelter {
    background: rgba(255, 89, 89, 0.1);
}
.education {
    background: #FFF4D6;

}


/* Lives Depend Section Styles */
.lives-depend {
    margin: 70px 200px 0 100px;
}
.lives-depend-container h3 {
    text-align: left;
}
.lives-depend-container p {
    margin: 35px 0;
    text-align: left;
}
.lives-depend-container {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.survive {
    margin: 100px 200px 0 100px;
}

/* Get My Update Section Styles */

.update {
    margin-top: 80px;
    padding: 0 300px;
}
.update-text {
    margin-bottom: 50px;
}
.update-input {
    text-align: center;
    background: #FFEEEE;
    padding: 100px 50px;
    border-radius: 10px;
}
.update-input input[type="email"], input[type="submit"] {
   padding: 10px 100px 10px 10px;
   font-size: 20px;
   font-weight: 500;
}

/* Footer Section Start */
.footer-container {
    background: #0B0D17;
    text-align: center;
}

.footer-container img {
    margin-top: 40px;
    margin-bottom: 10px;

}
.footer-text {
    color: #959595;
    display: block;
}